parameters:
    level: 7
    paths:
        - src
    excludePaths:
        - src/*/Entity/*
        - src/*/Shared/Entity/*
        - src/*/Shared/Events/*
        - src/*/Shared/Service/*
        - src/*/Features/*
        - src/*/Repositories/*
        - src/*/Health/*
        - src/User/Features/GitHubAuth/*
