parameters:
    level: 9
    paths:
        - src
        - scripts
    excludePaths:
        - tests/*
        - src/*/Shared/Entity/*
        - src/*/Shared/Events/*
        - src/*/Shared/Service/*
        - src/*/Features/*/Entity/*
        - src/*/Features/*/Events/*
