parameters:
    level: 9
    paths:
        - src
        - scripts
    excludePaths:
        - tests/*
        - src/*/Entity/*
        - src/*/Shared/Entity/*
        - src/*/Shared/Events/*
        - src/*/Shared/Service/*
        - src/*/Features/*
        - src/*/Repositories/*
        - src/*/Health/*
        - src/User/Features/GitHubAuth/*
        - src/Shared/Services/SentryFeatureTagger.php
        - src/Shared/Domain/ValueObject/Email.php  # OAuth2Bundle not installed
